extends base/_layout
block head
    title Главная
block page
    section.section-main(id='first-section')
        .section-main__wrapper
            .container
                .section-main__inner
                    .section-main__uppertitle Для тех кто хочет проводить время с близкими, а не за уборкой
                    h1.section-main__title Качественная уборка квартир, домов и офисов  за  3 часа  от 100 тенге/м2
                       +setImg({
                           webp: 'images/content/section-main/0.webp',
                           mWebp: 'images/content/section-main/0.webp',
                           img: 'images/content/section-main/0.jpg',
                           mImg: 'images/content/section-main/0.jpg'
                       })
                    .section-main__lowertitle наши провереные опытом специалисты используют только экологические материалы
                    .section-main__subtitle оставьте заявку на расчет стоимости вашей уборки
                    form.section-main__form
                        .section-main__form-tel
                            +input-tel({})
                        .section-main__form-submit
                            +input-submit({value: 'Узнать стоимость'})
    section.section-services
        .container
            .section-services__inner
                h2.section-services__bigtitle Виды услуг которые мы оказываем
                .section-services__subtitle Наш сотрудник приезжает к вам в согласованное время с полным комплектом профессиональных средств и техники, после чего приступает к уборке. В конце уборки вам остается только оценить результат нашей работы
                .section-services__data
                    +servicesCart({src: '0', title: 'ПОДДЕРЖИВАЮЩАЯ УБОРКА', popup: 'popup-services-0'})
                    +servicesCart({src: '1', title: 'ГЕНЕРАЛЬНАЯ УБОРКА', popup: 'popup-services-1'})
                    +servicesCart({src: '2', title: 'ПОСТСРОИТЕЛЬНАЯ УБОРКА', popup: 'popup-services-2'})
                    +servicesCart({src: '3', title: 'ЭКО-УБОРКА ', popup: 'popup-services-3'})
    section.section-services-additional
        .container
            .section-services-additional__inner
                .section-services-additional__title-wrapper
                    h3.section-services-additional__title ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:
                    .section-services-additional__title-line
                .section-services-additional__data
                    +servicesItem({icon: 'services-0', title: 'Мытьё окон ', subtitle: 'от ХХХ тг.'})
                    +servicesItem({icon: 'services-1', title: 'Мытьё холодильника ', subtitle: 'от ХХХ тг.'})
                    +servicesItem({icon: 'services-2', title: 'Мытьё балкона ', subtitle: 'от ХХХ тг.'})
                    +servicesItem({icon: 'services-3', title: 'Химчистка ', subtitle: 'от ХХХ тг.'})
                    +servicesItem({icon: 'services-4', title: 'Химчистка ', subtitle: 'от ХХХ тг.'})
                    +servicesItem({icon: 'services-5', title: 'Дезинфекция', subtitle: 'от ХХХ тг.'})
    section.section-services-more
        .container
            .section-services-more__inner
                .section-services-more__title-wrapper
                    h3.section-services-more__title ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:
                    .section-services-more__title-line
                    .section-services-more__arrow-wrapper
                        button.section-services-more__arrow.arrow-prev
                            +setSvg({name: 'arrow-right'})
                        button.section-services-more__arrow.arrow-next
                            +setSvg({name: 'arrow-left'})
        .section-services-more__slider
            +servicesSlide({
                webp: 'images/content/section-services-more/0-pc.webp',
                mWebp: 'images/content/section-services-more/0-mb.webp',
                img: 'images/content/section-services-more/0-pc.jpg',
                mImg: 'images/content/section-services-more/0-mb.jpg'
            })
            +servicesSlide({
                webp: 'images/content/section-services-more/1-pc.webp',
                mWebp: 'images/content/section-services-more/1-mb.webp',
                img: 'images/content/section-services-more/1-pc.jpg',
                mImg: 'images/content/section-services-more/1-mb.jpg'
            })
    include sections/popup