footer.footer
    .container
        .footer__inner
            .footer__logo
                a(href="index.html").logo
                    img(src='images/logo.png').icon
                    span.text Клининговая компания в Алматы
            .footer__police © ТОО  «DST» <br> Все права защищены. <br> Копирование материалов запрещено!
            .footer__dev
                span Создано командой
                +setImg({
                    webp: 'images/content/footer/0.webp',
                    mWebp: 'images/content/footer/0.webp',
                    img: 'images/content/footer/0.jpg',
                    mImg: 'images/content/footer/0.jpg'
                })