header.header
    .container
        .header__inner
            a(href="index.html").logo
                img(src='images/logo.png').icon
                span.text Клининговая компания в Алматы
            .menu-block
                a().menu-toggle
                    span.line.top
                    span.line.mid
                    span.line.bot
                .menu-list
                    ul.menu
                        li
                            a(href="#" data-href='#intro') Главная
                        li
                            a(href="#" data-href='#services') Услуги
                        li
                            a(href="#" data-href='#reviews') Отзывы
                        li
                            a(href="#" data-href='#contacts') Контакты
                    .call-block.active-mobile
                        // Заказать звонок
                        //__________
                        .call-block__link-wrapper
                            .call-block__link
                                a().btn.btn-white.open-popup-form Заказать звонок
                        //__________
                        // Номер телефона
                        //__________
                        .call-block__tel-wrapper
                            .call-block__tel-icon
                                +setSvg({name: 'tel-1'})
                            .call-block__tel-link
                                a(href='tel: +77077014200').tel +7 707 701 42 00
                        //__________
            .header__right
                .call-block.remove-mobile
                    // Номер телефона
                    //__________
                    .call-block__tel-wrapper
                        .call-block__tel-icon
                            +setSvg({name: 'tel-1'})
                        .call-block__tel-link
                            a(href='tel: +77077014200').tel +7 707 701 42 00
                    //__________
                    // Заказать звонок
                    //__________
                    .call-block__link-wrapper
                        .call-block__link
                            a().btn.btn-white.open-popup-form Заказать звонок
                    //__________
        //header__inner
    //container
//header
