.header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  z-index: 500;
  transition: padding $anim ease;

  background-color: $header-bg;

  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);

  &.fixed{
    position: fixed;

    background-color: $form-bg;
  }


  @media screen and (max-width: $mobile-screen) {
    padding: 1rem 0;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: $desctop-xs) {
      order: 2;
      margin-right: 9rem;
    }
    
    @media screen and (max-width: $mobile-screen) {
      margin-right: 7rem;
    }
  }

  .header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;

    @media screen and (max-width: $desctop-xs) {
      flex-wrap: wrap;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover .icon {
    fill: #F28B41;
  }

  .icon {
    width: 9.2rem;
    height: 7rem;
  }

  .text{
    font-size: 1.4rem;
    font-weight: 700;

    color: white;

    padding-left: 1rem;

    max-width: 11rem;
  }

}

.menu-block {
  display: block;
  margin: auto;


  @media screen and (max-width: $desctop-xs) {
    order: 3;

    width: 100%;
    max-width: none;
  }
}


.menu-toggle {
  display: none;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: -3rem;
  margin-top: 3.5rem;
  right: -.5rem;

  -webkit-tap-highlight-color: transparent;

  @media screen and (max-width: $mobile-screen) {
    top: -2.5rem;

  }

  .line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2rem;
    height: .3rem;
    width: 4rem;
    background: $white;
    transition: all $anim ease;
    border-radius: .4rem;

    &.top {
      margin-top: -1rem;
    }

    &.mid {

      opacity: 1;
      transform: translateX(0);
    }

    &.bot {
      margin-top: 1rem;
    }
  }

  &.active {
    .line {
      &.top {
        margin-top: -.2rem;
        transform: rotate(-135deg);
      }

      &.mid {
        transform: translateX(50%);
        opacity: 0;
      }

      &.bot {
        margin-top: -.2rem;
        transform: rotate(135deg);
      }
    }
  }

  @media screen and (max-width: $desctop-xs) {
    display: block;
  }
}

.menu-list {
  display: block;
  @media screen and (max-width: $desctop-xs) {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    margin-top: 0;
    margin-left: -50vw;
    padding: 0 5rem;

    .call-block{
      position: relative;
      z-index: 10;

      padding-bottom: 2rem;

      margin-left: 0;

      &__link-wrapper{
        margin-left: 0;

        margin-bottom: 2rem;
      }

      &__link{
        font-size: 2.2rem;
      }
    }



    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 1.1rem;
      left: 0;
      right: 0;
      bottom: 0;
      background: $form-bg;
      opacity: .9;
    }
  }

  @media screen and (max-width: $mobile-screen) {
    padding: 0 2rem;
  }

  @media screen and (max-width: $table-screen) {
    padding: 0 2rem;
    &:before {
      top: 1rem;
    }
  }

  @media screen and (max-width: $mobile-screen) {
      &:before{
        top: 1rem;
      }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: relative;

  & > li {
    display: block;
    list-style: none;
    margin-left: 3.1rem;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: $white;
    font-weight: 400;
    transition: color $anim ease;

    &.active {
      color: $color-main;
    }

    .desktop &:hover {
      color: $color-main;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $desctop-xs) {
    display: block;
    padding: 3rem 0 2rem;

    & > li {
      display: block;
      width: 100%;
      margin: 0;
      padding: 1rem 0;
    }
    a {
      display: block;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2.2rem;

      @media screen and (max-width: $desctop-xs) {
        text-align: left;
        font-size: 2.6rem;
      }
    }
  }
}

//call-block

.call-block {
  margin-left: 5rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__tel-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-right: 4rem;
  }

  &__tel-icon{
    width: 2.3rem;
    height: 2.3rem;

    margin-right: 0.9rem;

    .icon{
      width: 100%;
      height: 100%;

      fill: white;
    }
  }

  &__tel-link{
    font-size: 2rem;
    font-weight: 700;

    color: white;

    @media screen and (max-width: $mobile-screen) {
      font-size: 2.2rem;
    }
  }

  &.remove-mobile {
    @media screen and (max-width: $table-screen) {
      display: none;
    }
  }

  &.active-mobile{
    display: none;

    @media screen and (max-width: $mobile-screen) {
      display: block;
    }
  }

  &__link {
    color: $color-main;

    font-size: 1.6rem;
    font-weight: 500;

    text-align: right;
    transition: all 0.05s linear;

    &:hover {
      color: #B36730;
    }

    &-wrapper {
      display: block;

      padding-bottom: 0;

      margin-bottom: 0.4rem;

      width: max-content;

      margin-left: auto;
      margin-right: 0;
    }
  }

  &__tel {
    font-size: 2.4rem;
    font-weight: 500;

    color: #979797;

    transition: all 0.05s linear;

    &:hover {
      color: #dbdbdb;
    }
  }
}
