.section-main {
  padding-top: 9.8rem;

  background: url("../images/content/section-main/bg-pc.jpg") center no-repeat;
  background-size: cover;

  min-height: 80rem;

  &__inner {
    margin: 6rem auto;
  }

  &__uppertitle {
    font-size: 2rem;
    font-weight: 400;

    color: white;

    margin-bottom: 2rem;

    padding: 1.7rem 3.1rem;

    text-align: center;

    background: rgba(255, 255, 255, 0.15);

    width: 100%;
    max-width: max-content;

    @include margin(auto);
  }

  &__title {
    font-weight: 700;
    font-size: 4rem;

    color: white;

    text-align: right;

    margin-right: 3rem;

    max-width: 101rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-transform: uppercase;

    @media screen and (max-width: $table-screen) {
      font-size: 3.1rem;
    }

    @media screen and (max-width: $mobile-screen) {
      text-align: center;

      margin-right: 0;

      max-width: none;
    }

    source, img {
      margin-left: 1rem;

      width: 100%;
      max-width: 10rem;

      height: auto;

      @media screen and (max-width: $mobile-screen) {
        display: none;
      }
    }
  }

  &__lowertitle {
    font-size: 2rem;
    font-weight: 700;

    margin-top: 2rem;

    text-align: center;

    color: white;
  }

  &__subtitle {
    margin-top: 7rem;
    margin-bottom: 3rem;

    font-weight: 700;
    font-size: 2.4rem;

    text-transform: uppercase;
    text-align: center;

    color: white;

    @media screen and (max-width: $table-screen) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: $mobile-screen) {
      margin-top: 3rem;
    }
  }

  &__form {
    max-width: 62.5rem;

    @include margin(auto);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $mobile-screen) {
      flex-direction: column;
    }

    &-tel {
      margin-right: 1.2rem;

      width: 100%;
      max-width: 36.7rem;
    }

    &-submit {
      @media screen and (max-width: $mobile-screen) {
        max-width: 36.7rem;
        width: 100%;

        margin-top: 2rem;

        .input-submit {
          width: 100%;
        }
      }

    }
  }
}

//SERVICES

.section-services {

  &__bigtitle {
    font-size: 4rem;
    font-weight: 700;

    margin-bottom: 2rem;
    margin-top: 0;

    text-align: center;

    color: rgba(33, 128, 149, 1);

    text-transform: uppercase;
    
    @media screen and (max-width: $mobile-screen) {
      font-size: 3rem;
    }
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 400;

    margin-top: 0;
    margin-bottom: 4rem;

    text-align: center;

    max-width: 105rem;

    @include margin(auto);
    
    @media screen and (max-width: $mobile-screen) {
      font-size: 1.7rem;
    }
  }

  &__data {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;

    @include margin(-1.5rem)
  }

  &__cart {
    width: 100%;
    max-width: 25%;

    padding: 1.5rem;

    @media screen and (max-width: $table-screen) {
      max-width: 50%;
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: 100%;
    }

    &-inner {
      background-color: rgba(242, 247, 255, 1);

      border-radius: 1.2rem;

      height: 100%;

      padding: 2rem;

      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: column;

      @media screen and (max-width: $mobile-screen) {
        padding: 3rem;
      }
    }

    &-title {
      font-size: 2rem;
      font-weight: 700;

      text-align: center;

      color: rgba(33, 128, 149, 1);

      margin-bottom: 1.5rem;

      @media screen and (max-width: $mobile-screen) {
        font-size: 2.3rem;
      }
    }

    &-img {
      @include margin(-2rem);
      margin-bottom: 2rem;

      @media screen and (max-width: $mobile-screen) {
        @include margin(-3rem);
      }

      source, img {
        width: 100%;
        height: auto;
      }
    }

    &-more {
      padding: 1.7rem 7rem;

      border-radius: 1.2rem;

      background-color: rgba(30, 175, 207, 1);

      color: white;

      margin-bottom: 1.6rem;

      transition: all 0.2s linear;
      cursor: pointer;

      text-align: center;

      font-size: 1.8rem;
      font-weight: 700;

      &:hover {
        background-color: #175868;
      }
    }

    &-order {
      padding: 1.7rem 1rem;

      border-radius: 1.2rem;

      border: 2px solid #218095;

      text-align: center;
      color: #218095;

      cursor: pointer;

      transition: all 0.2s linear;

      font-size: 1.8rem;
      font-weight: 700;

      &:hover {
        background: #218095;
        color: white;
      }
    }
  }
}


//SERVICES ADDITIONAL

.section-services-additional {

  &__title {
    color: $color-main-2;

    font-size: 2.4rem;
    font-weight: 700;

    text-transform: uppercase;

    background: #fff;

    padding-right: 3rem;

    position: relative;
    z-index: 10;

    margin-top: 4rem;

    max-width: max-content;
  }

  &__title-wrapper{
    position: relative;
  }

  &__title-line{
    height: 0.2rem;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);

    border-top: 2px dotted $color-main;
  }

  &__data {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include margin(-1rem);
  }

  &__item {
    width: 100%;
    max-width: 33.33333%;

    padding: 1rem;
    
    @media screen and (max-width: $table-screen) {
        max-width: 50%;
    }
    
    @media screen and (max-width: $mobile-screen) {
        max-width: none;
    }

    &-inner{
      width: 100%;
      height: 100%;

      background: #fff;

      border-radius: 1.2rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding: 3rem 0 3rem 2rem;

      box-shadow: 0px 0px 10px rgba(4, 90, 108, 0.5);
    }

    &-title{
      font-size: 2rem;
      font-weight: 700;

      color: rgba(30, 175, 207, 1);

      margin-bottom: 1rem;

      background: #fff;
    }

    &-left{
      width: 100%;
      max-width: 6.5rem;
    }
    .icon{
      width: 6rem;
      height: 6rem;

      margin-right: 2rem;
    }

    &-subtitle{
      font-size: 2rem;
      font-weight: 400;

      color: rgba(35, 35, 35, 1);
    }
  }
}


//SERVICES MORE

.section-services-more{

  &__title {
    color: $color-main-2;

    font-size: 2.4rem;
    font-weight: 700;

    text-transform: uppercase;

    background: #fff;

    padding-right: 3rem;

    position: relative;
    z-index: 10;

    max-width: max-content;
  }

  &__title-wrapper{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-top: 6rem;
  }

  &__title-line{
    height: 0.2rem;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);

    border-top: 2px dotted $color-main;
  }

  &__arrow-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #fff;

    position: relative;
    z-index: 10;

    padding-left: 2rem;
  }

  &__arrow{
    width: 5rem;
    height: 5rem;

    border-radius: 1.2rem;

    margin: 0 0.7rem;

    background: #fff;

    box-shadow: 0px 4px 4px rgba(4, 90, 108, 0.5);

    border: 2px solid #218095;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.2s linear;

    &:hover{
      background: #218095;
      box-shadow: 0px 4px 4px rgba(4, 90, 108, 0);

      .icon{
        fill: white;
      }
    }

    .icon{
      width: 1rem;
      height: 2rem;

      fill: #218095;

      transition: all 0.2s linear;
    }
  }

  &__slide{

    &-img{

      source, img{
        width: 100%;
        height: auto;
      }
    }
  }

}