.popup.popup-open-form(style='z-index: 1000000000;')
    .popup__inner
        //button close
        .popup-services-0__close.popup-close
            +setSvg({name: 'close'})
        //form
        form.popup__form.form-block.form-submit
            .form-block__header
                .popup__form-title
                    +formTitle({text: 'Оставьте заявку <br> и получите рассчет стоимости в течении 5 минут'})
            .form-block__body
                .form-block__row
                    .form-block__col
                        +input-name({placeholder: 'Имя'})
                    .form-block__col
                        +input-tel({placeholder: 'Телефон'})
                    .form-block__col
                        input.set-attr-val(type='hidden' name='who' value='Форма из "заказать звонок"')
                        +input-submit({value: 'Оставить заявку'})
.popup.popup-services-0(id='popup-services-0')
    .popup-services-0__wrapper
        .popup-services-0__inner
            .popup-services-0__close.popup-close
                +setSvg({name: 'close'})
            .popup-services-0__data
                .popup-services-0__title-wrapper
                    h3.popup-services-0__title Что входит в генеральную уборку:
                    .popup-services-0__title-line
                h4 КОМНАТЫ
                ul
                    li Помыть радиаторы
                    li Вытереть пыль со всех элементов декора и интерьера с корпусной мебели,      техники
                    li Почистить зеркала и стеклянные поверхности
                    li Собрать и вынести мусор, не более 2х кг
                    li Помыть все осветительные приборы
                    li Пропылесосить всю мягкую мебель
                    li Пропылесосить , протереть плинтус и помыть пол
                h4 КОРИДОР
                ul
                    li Протереть все доступные поверхности
                    li До блеска очистить зеркала и стеклянные поверхности
                    li Пропылесосить коврики, протереть плинтусы, помыть пол
                h4 КУХНЯ
                ul
                    li Помыть окна внутри и снаружи (в теплое время года)
                    li Протереть подоконные радиаторы
                    li Очистить пыль со всех доступных поверхностей
                    li Помыть кухонный фасад, фартук, вытяжку
                    li Протереть бытовую технику, холодильник
                    li Почистить раковину ,смеситель, столешницу и варочную панель
                    li Помыть двери, дверной проем, наличники, дверные ручки и выключатели
                    li Протереть плинтус, пропылесосить и помыть пол
                h4 САНУЗЕЛ
                ul
                    li Помыть и продезинфицировать душевую кабину, ванную, сантехнику, смесители
                    li Протереть от пыли светильники, розетки и стеклянные поверхности
                    li Помыть шкафчики снаружи и все открытые полки
                    li Протереть стиральную машину
                    li Помыть пол
                    li Помыть вентиляционные решетки
                    li Помыть двери, дверной проем, наличники, дверные ручки и выключатели
                h4 БАЛКОН/ЛОДЖИЯ
                ul
                    li Помыть окна внутри и снаружи (в теплое время года)
                    li Пропылесосить, протереть плинтусы, помыть пол
                    li обеспылить все поверхности
                p * в стоимость генеральной уборки включен один сан.узел, один балкон/лоджия. Вторые и далее сан.узлы и балконы оплачиваются дополнительно.
                p * помыть мебель внутри оплачивается отдельно
                button.set-attr-popup(data-set-attr-popup='Заказ услуги генеральной уборки') Заказать услугу
.popup.popup-services-0(id='popup-services-1')
    .popup-services-0__wrapper
        .popup-services-0__inner
            .popup-services-0__close.popup-close
                +setSvg({name: 'close'})
            .popup-services-0__data
                .popup-services-0__title-wrapper
                    h3.popup-services-0__title Что входит в уборку после ремонта:
                    .popup-services-0__title-line
                h4 КОМНАТЫ
                ul
                    li Обеспылить стены и потолки.
                    li Помыть радиаторы
                    li Вытереть пыль со всех элементов декора и интерьера с корпусной мебели, техники
                    li Почистить зеркала и стеклянные поверхности
                    li Собрать и вынести мусор, не более 2х кг
                    li Помыть все осветительные приборы
                    li Пропылесосить всю мягкую мебель
                    li Пропылесосить , протереть плинтус и помыть пол
                    li Помыть двери, дверной проем, наличники, дверные ручки
                h4 КУХНЯ
                ul
                    li Протереть подоконные радиаторы
                    li  Очистить пыль со всех доступных поверхностей
                    li Протереть кухонный фасад, фартук, вытяжку
                    li Протереть бытовую технику, холодильник
                    li Помыть раковину ,смеситель, столешницу и варочную панель
                    li Помыть двери, дверной проем, наличники, дверные ручки и выключатели
                h4 КОРИДОР
                ul
                    li Протереть все доступные поверхности
                    li До блеска очистить зеркала и стеклянные поверхности
                    li Помыть входную дверь с двух сторон дверной проем, наличники, дверные ручки и выключатели
                    li Пропылесосить коврики, протереть плинтусы, помыть пол
                h4 САНУЗЕЛ
                ul
                    li Помыть и продезинфицировать душевую кабину, ванную, сантехнику, смесители
                    li Протереть от пыли светильники, розетки и стеклянные поверхности
                    li Помыть шкафчики снаружи и все открытые полки
                    li Протереть стиральную машину
                    li Помыть пол
                    li Помыть вентиляционные решетки
                    li Помыть двери, дверной проем, наличники, дверные ручки и выключатели
                h4 БАЛКОН/ЛОДЖИЯ
                ul
                    li Пропылесосить, протереть плинтусы, помыть пол
                    li удалить следы цемента, затирки, шпаклевки
                    li обеспылить все поверхности
                p Также Вы можете заказать любую дополнительную услугу : мытье окон, глажка, помывка холодильника, микроволновой печи, духового шкафа, уборка в шкафу.
                button.set-attr-popup(data-set-attr-popup='Заказ услуги постю строительной уборки') Заказать услугу
.popup.popup-services-0(id='popup-services-2')
    .popup-services-0__wrapper
        .popup-services-0__inner
            .popup-services-0__close.popup-close
                +setSvg({name: 'close'})
            .popup-services-0__data
                .popup-services-0__title-wrapper
                    h3.popup-services-0__title Что входит в поддерживающую уборку:
                    .popup-services-0__title-line
                h4 ЖИЛЫЕ КОМНАТЫ
                ul
                    li Вытереть пыль со всех элементов декора и интерьера с корпусной мебели, радиаторов(батарей),техники и расставить вещи по местам
                    li Почистить зеркала и стеклянные поверхности
                    li Собрать вещи с поверхностей
                    li Собрать и вынести мусор, не более 2х кг
                    li Помыть осветительные приборы ( кроме люстр)
                    li Пропылесосить всю мягкую мебель
                    li Просто застелить постель, без смены белья
                    li Пропылесосить ковры, протереть плинтус и помыть пол
                    li Помыть двери, дверной проем, наличники, дверные ручки
                h4 КУХНЯ
                ul
                    li Протереть подоконные радиаторы
                    li Очистить пыль со всех доступных поверхностей
                    li Протереть кухонный фасад, фартук, вытяжку
                    li Протереть бытовую технику, холодильник снаружи
                    li Помыть раковину ,смеситель, столешницу и варочную панель
                    li Помыть двери, дверной проем, наличники, дверные ручки и выключатели
                    li Протереть плинтус, пропылесосить и помыть пол
                    li Собрать и вынести мусор, не более 2х кг
                h4 САНУЗЕЛ
                ul
                    li Помыть сантехнику, смесители
                    li Протереть от пыли светильники, розетки и стеклянные поверхности
                    li Помыть шкафчики снаружи и все открытые полки
                    li Протереть стиральную машину
                    li Собрать вещи с поверхностей
                    li Пропылесосить коврики и помыть пол
                    li Помыть двери, дверной проем, наличники, дверные ручки и выключатели
                    li Протереть баночки (средства гигиены) и аккуратно сложить
                    li Собрать и вынести мусор, не более 2х кг
                h4 КОРИДОР
                ul
                    li Протереть все доступные поверхности
                    li Очистить зеркала и стеклянные поверхности
                    li Расставить обувь
                    li Помыть входную дверь, дверной проем, наличники, дверные ручки и выключатели
                    li Пропылесосить коврики, протереть плинтусы, помыть пол
                button.set-attr-popup(data-set-attr-popup='Заказ услуги поддерживающей уборки') Заказать услугу
.popup.popup-services-0(id='popup-services-3')
    .popup-services-0__wrapper
        .popup-services-0__inner
            .popup-services-0__close.popup-close
                +setSvg({name: 'close'})
            .popup-services-0__data
                .popup-services-0__title-wrapper
                    h3.popup-services-0__title Что входит в эко уборку :
                    .popup-services-0__title-line
                p.active-text Экологическая уборка подразумевает абсолютную безопасность. При этом она отличается высокой эффективностью. Проводится влажная или генеральная уборка квартиры с применением специфических моющих, чистящих средств. Их отличительными особенностями являются:
                p.active-text органическая основа;
                p.active-text гипоаллергенный состав;
                p.active-text отсутствие приторных отдушек;
                p.active-text высокие чистящие свойства;
                p.active-text отсутствие токсичного остатка (это касается как смывающихся средств, так и не требующих смывания).
                p.active-text Кроме профессиональной органической химии в процессе уборки используются технические средства. Экоуборка выполняется с применением паровых методов очистки поверхностей. Их использование исключает необходимость химической чистки. Эффективность уборки при этом является максимально высокой.
                button.set-attr-popup(data-set-attr-popup='Заказ услуги эко уборки') Заказать услугу